<siteheader></siteheader>

<div class="container wide cases-page">

	<div class="box no-padding">
		<div class="row box-header underline">
			<ul class="tabs left no-margin">
				<li ng-class="{'active':vm.tab == 'recent'}" ng-click="vm.tab = 'recent'">Recent Cases</li>
				<li ng-class="{'active':vm.tab == 'archive'}" ng-click="vm.tab = 'archive'">Archive</li>
			</ul>

			<button class="button right" ng-click="vm.createCase()">Create New Case</button>
			<button class="button right outline" ng-click="vm.importCSV()">Import Case</button>
			<input hidden id="csvfile" type="file" />
		</div>


		<div class="table-list" ng-show="vm.cases.length">
			<div class="pure-g header">
				<div class="pure-u-5-24">
					<p>DECEASED NAME</p>
				</div>
				<div class="pure-u-1-8">
					<p>CASE NUMBER</p>
				</div>
				<div class="pure-u-8-24">
					<p>D.O.D.</p>
				</div>
				<div class="pure-u-5-24">
					<p>SERVICE DATE</p>
				</div>
				<div class="pure-u-1-8 actions">
					<p>ACTIONS</p>
				</div>
			</div>
			<loader ng-hide="vm.cases"></loader>
			<div class="pure-g order" ng-repeat="case in vm.cases">
				<div class="pure-u-5-24">
					<p>{{case.details.DeceasedsName.value ? case.details.DeceasedsName.value : 'Null'}}</p>
				</div>
				<div class="pure-u-1-8">
					<p>{{case.caseId ? case.caseId : 'Null'}}</p>
				</div>
				<div class="pure-u-8-24">
					<p>{{case.details.DateOfDeath.value ? case.details.DateOfDeath.value : 'Null' | date:'MM/dd/yyyy'}}</p>
				</div>
				<div class="pure-u-5-24">
					<p>{{case.details.FamilyContact.value ? case.details.FamilyContact.value : 'Null'}}</p>
				</div>
				<div class="pure-u-1-8 actions">
					<img src="images/ellipses.svg" class="ellipses">
          <img src="images/edit-icon.svg" class="action-icon" tooltip-placement="top" uib-tooltip="Edit">
          <img src="images/archive-icon.svg" class="action-icon" tooltip-placement="top" uib-tooltip="Archive" data-toggle="modal" data-target="#archive-modal">
				</div>
			</div>
		</div>

		<p class="message" ng-hide="vm.cases.length">No cases found</p>

	</div>

</div>
