<siteheader></siteheader>

<div class="order-header">
	<div class="container">
		<p class="left save" ng-click="vm.saveAndExit()">Save &amp; Exit</p>
		<h5 class="middle">Create New Case</h5>
	</div>
</div>

<div class="steps-bar">
	<div class="container">
		<button class="button left back" ng-hide="vm.tab == 'deceased'" ng-click="vm.back()"><i class="icon-Chevron"></i>Back</button>
		<ul class="middle">
			<li ng-click="vm.tab = 'deceased'" ng-class="{'active':vm.tab == 'deceased'}"><span>1</span>Deceased Info</li>
			<li ng-click="vm.tab = 'obituary'" ng-class="{'active':vm.tab == 'obituary'}"><span>2</span>Obituary</li>
			<li ng-click="vm.tab = 'service'" ng-class="{'active':vm.tab == 'service'}"><span>3</span>Service Info</li>
			<li ng-click="vm.tab = 'military'" ng-class="{'active':vm.tab == 'military'}"><span>4</span>Military / Veteran</li>
		</ul>
		<button class="button right" ng-show="vm.tab == 'military'" ng-click="vm.done()">Done</button>
		<button class="button right next" ng-hide="vm.tab == 'military'" ng-click="vm.next()"><i class="icon-Chevron"></i>Next</button>
	</div>
</div>

<div class="container wide case-page">

	<section ng-show="vm.tab == 'deceased'" class="box no-padding margin">

		<!-- Accordian -->
		<uib-accordion>

			<uib-accordion-group is-open="deceasedStatus.isFirstOpen">
				<uib-accordion-heading>
					<h5>Personal Information</h5>
					<i ng-class="{'icon-Square': deceasedStatus.isFirstOpen, 'icon-Chevron': !deceasedStatus.isFirstOpen}"></i>
				</uib-accordion-heading>
				<div class="pure-g">
					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.CaseNumber.title">Case Number</label>
						<input class="outline" type="text" ng-model="vm.case.CaseNumber" disabled/>

						<label contenteditable="true" ng-model="vm.case.details.DeceasedsName.title">Deceased Name</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.DeceasedsName.value" />

						<label contenteditable="true" ng-model="vm.case.details.DateOfBirth.title">Date of Birth</label>
						<input class="outline" type="date" placeholder="100" ng-model="vm.case.details.DateOfBirth.value" />

						<label contenteditable="true" ng-model="vm.case.details.PlaceOfBirth.title">Place of Birth</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.PlaceOfBirth.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.DateOfDeath.title">Date of death</label>
						<input class="outline" type="date" placeholder="100" ng-model="vm.case.details.DateOfDeath.value" />

						<label contenteditable="true" ng-model="vm.case.details.PlaceOfDeath.title">Place of Death</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.PlaceOfDeath.value" />

						<label contenteditable="true" ng-model="vm.case.details.Age.title">Age</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.Age.value" />

						<label contenteditable="true" ng-model="vm.case.details.AgeYears.title">Age Years</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.AgeYears.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.AgeMonths.title">Age Months</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.AgeMonths.value" />

						<label contenteditable="true" ng-model="vm.case.details.AgeDays.title">Age Days</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.AgeDays.value" />

						<label contenteditable="true" ng-model="vm.case.details.Religion.title">Religion</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.Religion.value" />

						<label contenteditable="true" ng-model="vm.case.details.ResidenceFullAddress.title">Residence Address</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ResidenceFullAddress.value" />
					</div>
				</div>
			</uib-accordion-group>

			<uib-accordion-group is-open="deceasedStatus.isSecondOpen">
				<uib-accordion-heading>
					<h5>Family Information</h5>
					<i ng-class="{'icon-Square': deceasedStatus.isSecondOpen, 'icon-Chevron': !deceasedStatus.isSecondOpen}"></i>
				</uib-accordion-heading>
				<div class="pure-g">
					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.DeceasedsMother.title">Mother</label>
						<input class="outline" type="text" placeholder="100" g-model="vm.case.DeceasedsMother" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.DeceasedsFather.title">Father</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.DeceasedsFather.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.Spouse.title">Spouse</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.Spouse.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.MaritalStatus.title">Marital Status</label>

						<div class="btn-group" uib-dropdown>
							<button id="single-button" class="button outline dropdown-btn" uib-dropdown-toggle ng-disabled="disabled">
								{{vm.case.details.MaritalStatus.value ? vm.case.details.MaritalStatus.value : 'Select Item'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-click="vm.case.details.MaritalStatus.value = 'Item 1'">Item 1</li>
								<li ng-click="vm.case.details.MaritalStatus.value = 'Item 2'">Item 2</li>
								<li ng-click="vm.case.details.MaritalStatus.value = 'Item 3'">Item 3</li>
							</ul>
						</div>

					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.Occupation.title">Occupation</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.Occupation.value" />
					</div>

					<div ng-repeat="Child in vm.case.details.children" class="pure-u-1-3">
						<button class="button delete deletesingle" ng-click="vm.removeChild(Child, vm.case.details.children)">x</button>
						<label contenteditable="true" ng-model="Child.title">{{Child.title}}</label>
						<input class="outline" type="text" placeholder="100" ng-model="Child.value" />
					</div>

					<div class="pure-u-1-3">
						<label> </label>
						<button ng-click="vm.addChild()" class="button add-child">Add Child</button>
					</div>

					<div ng-repeat="Sibling in vm.case.details.siblings" class="pure-u-1-3">
						<button class="button delete deletesingle" ng-click="vm.removeSibling(Sibling, vm.case.details.siblings)">x</button>
						<label contenteditable="true" ng-model="Sibling.title">{{Sibling.title}}</label>
						<input class="outline" type="text" placeholder="100" ng-model="Sibling.value" />
					</div>

					<div class="pure-u-1-3">
						<label> </label>
						<button ng-click="vm.addSibling()" class="button add-child">Add Sibling</button>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.FamilyContact.title">Family Contact</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.FamilyContact.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.FamilyContactFullAddress.title">Contact Address</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.FamilyContactFullAddress.value" />
					</div>

				</div>
			</uib-accordion-group>

			<uib-accordion-group is-open="deceasedStatus.isThirdOpen">
				<uib-accordion-heading>
					<h5>Add Personal Images</h5>
					<i ng-class="{'icon-Square': deceasedStatus.isThirdOpen, 'icon-Chevron': !deceasedStatus.isThirdOpen}"></i>
				</uib-accordion-heading>

				<label>Submit File</label>
				<input id="personal_images" type="file" multiple />
				<div class="pure-g">
					<div class="pure-u-1-3" ng-repeat="file in vm.case.details.personalImages">
						<img style="width:100%;" ng-src="{{file}}" />
					</div>
				</div>
			</uib-accordion-group>

		</uib-accordion>

	</section>

	<section ng-show="vm.tab == 'obituary'" class="box no-padding margin">
		<div class="panel">
			<div class="panel-heading border-bottom">
				<h5>Obituary</h5>
			</div>
			<div class="panel-body">
				<textarea id="obituary-textarea" class="textarea outline wide"></textarea>
			</div>
		</div>
	</section>

	<section ng-show="vm.tab == 'service'" class="box no-padding margin">

		<!-- Accordian -->
		<uib-accordion>

			<uib-accordion-group is-open="serviceStatus.isFirstOpen">
				<uib-accordion-heading>
					<h5>Service Details</h5>
					<i ng-class="{'icon-Square': serviceStatus.isFirstOpen, 'icon-Chevron': !serviceStatus.isFirstOpen}"></i>
				</uib-accordion-heading>
				<div class="pure-g">

					<div ng-repeat="Organization in vm.case.details.organizations" class="pure-u-1-3">
						<button class="button delete deletesingle" ng-click="vm.removeOrganization(Organization, vm.case.details.organizations)">x</button>
						<label contenteditable="true" ng-model="Organization.title">{{Organization.title}}</label>
						<input class="outline" type="text" placeholder="100" ng-model="Organization.value" />
					</div>

					<div class="pure-u-1-3">
						<label> </label>
						<button ng-click="vm.addOrganization()" class="button add-child">Add Organization</button>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.ServiceLocation.title">Service Location</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ServiceLocation" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.ClergyFullName.title">Clergy Name</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ClergyFullName.clergy" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.ServiceDate.title">Service Date</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ServiceDate.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.ServiceTime.title">Service Time</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ServiceTime.value" />
					</div>

				</div>
			</uib-accordion-group>

			<uib-accordion-group is-open="serviceStatus.isSecondOpen">
				<uib-accordion-heading>
					<h5>Music Selection</h5>
					<i ng-class="{'icon-Square': serviceStatus.isSecondOpen, 'icon-Chevron': !serviceStatus.isSecondOpen}"></i>
				</uib-accordion-heading>

				<div ng-repeat="music in vm.case.details.music" class="pure-g">
					<button class="button delete deleterow" ng-click="vm.removeMusic(music, vm.case.details.music)">x</button>

					<div ng-repeat="row in music" class="pure-u-1-4">
						<label contenteditable="true" ng-model="row.title">{{row.title}}</label>
						<input class="outline" type="text" placeholder="100" ng-model="row.value" />
					</div>

				</div>

				<button ng-click="vm.addMusic()" class="button add-child">Add Music</button>
			</uib-accordion-group>

			<uib-accordion-group is-open="serviceStatus.isThirdOpen">
				<uib-accordion-heading>
					<h5>Pall Bearers & Societies Attending</h5>
					<i ng-class="{'icon-Square': serviceStatus.isThirdOpen, 'icon-Chevron': !serviceStatus.isThirdOpen}"></i>
				</uib-accordion-heading>

				<div ng-repeat="bearer in vm.case.details.pallbearers" class="pure-g">
					<button class="button delete deleterow" ng-click="vm.removePallBearer(bearer, vm.case.details.pallbearers)">x</button>

					<div ng-repeat="row in bearer" class="pure-u-1-2">
						<label contenteditable="true" ng-model="row.title">{{row.title}}</label>
						<input class="outline" type="text" placeholder="100" ng-model="row.value" />
					</div>

				</div>

				<button ng-click="vm.addPallBearers()" class="button add-child">Add Pall Bearer</button>

			</uib-accordion-group>

			<uib-accordion-group is-open="serviceStatus.isFourthOpen">
				<uib-accordion-heading>
					<h5>Interment Information</h5>
					<i ng-class="{'icon-Square': serviceStatus.isFirstOpen, 'icon-Chevron': !serviceStatus.isFirstOpen}"></i>
				</uib-accordion-heading>
				<div class="pure-g">

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.IntermentPlace.title">Internment Place</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.IntermentPlace.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.IntermentLot.title">Internment Lot</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.IntermentLot.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.IntermentState.title">Internment State</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.IntermentState.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.IntermentSection.title">Internment Section</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.IntermentSection.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.IntermentCity.title">Internment City</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.IntermentCity.value" />
					</div>

					<div class="pure-u-1-3">
						<label>Internment Date</label>
						<input type="date" ng-model="vm.case.details.InternmentDate.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.IntermentBlock.title">Internment Block</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.IntermentBlock.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.IntermentCounty.title">Internment County</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.IntermentCounty.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.IntermentTime.title">Internment Time</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.IntermentTime.value" />
					</div>

				</div>
			</uib-accordion-group>

		</uib-accordion>

	</section>

	<section ng-show="vm.tab == 'military'" class="box no-padding margin">

		<!-- Accordian -->
		<uib-accordion>

			<uib-accordion-group is-open="militaryStatus.isFirstOpen">
				<uib-accordion-heading>
					<h5>Branch of Service</h5>
					<i ng-class="{'icon-Square': militaryStatus.isFirstOpen, 'icon-Chevron': !militaryStatus.isFirstOpen}"></i>
				</uib-accordion-heading>
				<div class="pure-g">

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.BranchOfService.title">Branch of Service</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.BranchOfService.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.PlaceEnteredService.title">Place Entered Service</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.PlaceEnteredService.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.RankDischarged.title">Rank Discharged</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.RankDischarged.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.ServiceNumber.title">Service Number</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ServiceNumber.value" />
					</div>

					<div class="pure-u-1-3">
						<label>Date Discharged</label>
						<input class="outline" type="date" ng-model="vm.case.details.DateDischarged.value" />
					</div>

					<div class="pure-u-1-3">
						<label>Date Entered Service</label>
						<input class="outline" type="date" ng-model="vm.case.details.DateEnteredService.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.PlaceDischarged.title">Place Discharged</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.PlaceDischarged.value" />
					</div>

				</div>
			</uib-accordion-group>

			<uib-accordion-group is-open="militaryStatus.isSecondOpen">
				<uib-accordion-heading>
					<h5>Station Within US</h5>
					<i ng-class="{'icon-Square': militaryStatus.isSecondOpen, 'icon-Chevron': !militaryStatus.isSecondOpen}"></i>
				</uib-accordion-heading>
				<div class="pure-g">

					<div ng-repeat="StationWithinUS in vm.case.details.usstations" class="pure-u-1-3">
						<button class="button delete deletesingle" ng-click="vm.removeUSStation(StationWithinUS, vm.case.details.usstations)">x</button>
						<label contenteditable="true" ng-model="StationWithinUS.title">{{StationWithinUS.title}}</label>
						<input class="outline" type="text" placeholder="100" ng-model="StationWithinUS.value" />
					</div>

					<div class="pure-u-1-3">
						<label> </label>
						<button ng-click="vm.addUSStation()" class="button add-child">Add Station In US</button>
					</div>

					<div class="pure-u-1-3">
						<label>Departure Date</label>
						<input class="outline" type="date" ng-model="vm.case.details.DepartureDate.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.ReturnPlace.title">Return Place</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ReturnPlace.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.DeparturePlace.title">Departure Place</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.DeparturePlace.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.ProvidingHonors.title">Providing Honors</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ProvidingHonors.value" />
					</div>

					<div class="pure-u-1-3">
						<label>Return Date</label>
						<input class="outline" type="date" ng-model="vm.case.details.ReturnDate.value" />
					</div>

				</div>
			</uib-accordion-group>

			<uib-accordion-group is-open="militaryStatus.isThirdOpen">
				<uib-accordion-heading>
					<h5>Firing Party</h5>
					<i ng-class="{'icon-Square': militaryStatus.isThirdOpen, 'icon-Chevron': !militaryStatus.isThirdOpen}"></i>
				</uib-accordion-heading>

				<div class="pure-g">

					<div ng-repeat="FiringParty in vm.case.details.firingparties" class="pure-u-1-3">
						<button class="button delete deletesingle" ng-click="vm.removeFiringParty(FiringParty, vm.case.details.firingparties)">x</button>
						<label contenteditable="true" ng-model="FiringParty.title">{{FiringParty.title}}</label>
						<input class="outline" type="text" placeholder="100" ng-model="FiringParty.value" />
					</div>

					<div class="pure-u-1-3">
						<label> </label>
						<button ng-click="vm.addFiringParty()" class="button add-child">Add Firing Party</button>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.NCOIC.title">NCOIC</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.NCOIC.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.Chaplain.title">Chaplain</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.Chaplain.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.OIC.title">OIC</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.OIC.value" />
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.BuglarAndOrColorGuard.title">Burgler/Color Guard</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.BuglarAndOrColorGuard.value" />
					</div>
				</div>

			</uib-accordion-group>

			<uib-accordion-group is-open="militaryStatus.isFourthOpen">
				<uib-accordion-heading>
					<h5>Honors</h5>
					<i ng-class="{'icon-Square': militaryStatus.isFourthOpen, 'icon-Chevron': !militaryStatus.isFourthOpen}"></i>
				</uib-accordion-heading>

				<div class="pure-g">
					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.DistinguishedServiceCross.title">Distinguished Service Cross</label>
						<div class="btn-group" uib-dropdown>
							<button id="single-button" class="button outline dropdown-btn" uib-dropdown-toggle ng-disabled="disabled">
								{{vm.case.details.DistinguishedServiceCross.value ? vm.case.details.DistinguishedServiceCross.value : 'Select Item'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-click="vm.case.details.DistinguishedServiceCross.value = 'True'">True</li>
								<li ng-click="vm.case.details.DistinguishedServiceCross.value = 'False'">False</li>
							</ul>
						</div>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.PurpleHeart.title">Purple Heart</label>
						<div class="btn-group" uib-dropdown>
							<button id="single-button" class="button outline dropdown-btn" uib-dropdown-toggle ng-disabled="disabled">
								{{vm.case.details.PurpleHeart.value ? vm.case.details.PurpleHeart.value : 'Select Item'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-click="vm.case.details.PurpleHeart.value = 'True'">True</li>
								<li ng-click="vm.case.details.PurpleHeart.value = 'False'">False</li>
							</ul>
						</div>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.SilverStar.title">Silver Star</label>
						<div class="btn-group" uib-dropdown>
							<button id="single-button" class="button outline dropdown-btn" uib-dropdown-toggle ng-disabled="disabled">
								{{vm.case.details.SilverStar.value ? vm.case.details.SilverStar.value : 'Select Item'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-click="vm.case.details.SilverStar.value = 'True'">True</li>
								<li ng-click="vm.case.details.SilverStar.value = 'False'">False</li>
							</ul>
						</div>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.MedalOfHonor.title">Medal of Honor</label>
						<div class="btn-group" uib-dropdown>
							<button id="single-button" class="button outline dropdown-btn" uib-dropdown-toggle ng-disabled="disabled">
								{{vm.case.details.MedalOfHonor.value ? vm.case.details.MedalOfHonor.value : 'Select Item'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-click="vm.case.details.MedalOfHonor.value = 'True'">True</li>
								<li ng-click="vm.case.details.MedalOfHonor.value = 'False'">False</li>
							</ul>
						</div>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.AirForceCross.title">Air Force Cross</label>
						<div class="btn-group" uib-dropdown>
							<button id="single-button" class="button outline dropdown-btn" uib-dropdown-toggle ng-disabled="disabled">
								{{vm.case.details.AirForceCross.value ? vm.case.details.AirForceCross.value : 'Select Item'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-click="vm.case.details.AirForceCross.value = 'True'">True</li>
								<li ng-click="vm.case.details.AirForceCross.value = 'False'">False</li>
							</ul>
						</div>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.NavyCross.title">Navy Cross</label>
						<div class="btn-group" uib-dropdown>
							<button id="single-button" class="button outline dropdown-btn" uib-dropdown-toggle ng-disabled="disabled">
								{{vm.case.details.NavyCross.value ? vm.case.details.NavyCross.value : 'Select Item'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-click="vm.case.details.NavyCross.value = 'True'">True</li>
								<li ng-click="vm.case.details.NavyCross.value = 'False'">False</li>
							</ul>
						</div>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.BronzeStar.title">Bronze Star</label>
						<div class="btn-group" uib-dropdown>
							<button id="single-button" class="button outline dropdown-btn" uib-dropdown-toggle ng-disabled="disabled">
								{{vm.case.details.BronzeStar.value ? vm.case.details.BronzeStar.value : 'Select Item'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li ng-click="vm.case.details.BronzeStar.value = 'True'">True</li>
								<li ng-click="vm.case.details.BronzeStar.value = 'False'">False</li>
							</ul>
						</div>
					</div>

					<div ng-repeat="MedalOther in vm.case.details.othermedals" class="pure-u-1-3">
						<button class="button delete deletesingle" ng-click="vm.removeOtherMedal(MedalOther, vm.case.details.othermedals)">x</button>
						<label contenteditable="true" ng-model="MedalOther.title">{{MedalOther.title}}</label>
						<input class="outline" type="text" placeholder="100" ng-model="MedalOther.value" />
					</div>

					<div class="pure-u-1-3">
						<label> </label>
						<button ng-click="vm.addOtherMedal()" class="button add-child">Add Other Medal</button>
					</div>

					<div class="pure-u-1-3">
						<label contenteditable="true" ng-model="vm.case.details.ProvidingHonors.title">Providing Honors</label>
						<input class="outline" type="text" placeholder="100" ng-model="vm.case.details.ProvidingHonors.value" />
					</div>
				</div>

			</uib-accordion-group>


		</uib-accordion>

	</section>

</div>
