<siteheader></siteheader>

<div class="order-header">
  <div class="container">
    <p class="left save" ng-click="vm.saveOrderAndExit()">Save &amp; Exit</p>
    <h5 class="middle">Pick Products for your Order</h5>

    <div class="drop-down right" uib-dropdown>
      <button uib-dropdown-toggle ng-disabled="disabled" class="button outline">Selected Products <span>({{vm.productCount}})</span></button>
      <ul class="dropdown-menu cart-list" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <div ng-repeat="collection in vm.order.collections">
          <li ng-repeat="product in collection.products" ng-show="product.selected">
            <div class="pure-g">
              <div class="pure-u-1-4">
                <img src="http://placehold.it/45x45" />
              </div>
              <div class="pure-u-3-4">
                <p class="sub faded">{{product.collection}}</p>
                <p>{{product.details.name}}</p>
                <i class="glyphicon glyphicon-remove" ng-click="vm.removeProductFromOrder(product)"></i>
              </div>
            </div>
          </li>
        </div>
        <li>
          <button class="button" ng-click="vm.startOrder()">Start Order</button>
        </li>
      </ul>
    </div>

  </div>
</div>


<div class="collections-page">
  <div class="container">

    <div class="row header">
      <h3>Add Products</h3>
    </div>

    <ul class="tabs">
      <li ng-repeat="collection in vm.order.collections" ng-class="{'active':vm.tab == collection.name}">
        <p ng-click="vm.setTab(collection.name)">{{collection.name}}</p>
      </li>
    </ul>

    <section ng-repeat="collection in vm.collections" ng-show="vm.tab == collection.name && collection.packages.length">
      <h4>Product Packages</h4>
      <ul class="pure-g cards">
        <li class="pure-u-1-5" ng-repeat="package in collection.packages">
          <div class="card">
            <div class="preview" style="background:url('http://placehold.it/240x240')"></div>
            <p>{{package.details.name}}</p>
          </div>
        </li>
      </ul>
    </section>

    <section ng-repeat="collection in vm.order.collections" ng-show="vm.tab == collection.name">
      <h4>Products</h4>
      <ul class="pure-g cards">
        <li class="pure-u-1-5" ng-repeat="product in collection.products">
          <div class="card">
            <checkbox class="check-box" ng-model="product.selected" ng-change="vm.updateProductCount()"></checkbox>
            <div class="preview" style="background:url('http://placehold.it/240x240')"></div>
            <p>{{product.details.name}}</p>
          </div>
        </li>
      </ul>
    </section>

    <loader ng-hide="vm.order.collections"></loader>

  </div>
</div>
