<siteheader></siteheader>

<div class="container wide dashboard-page">

  <div class="box no-padding">
    <div class="row box-header underline">
      <!-- <ul class="tabs left no-margin">
        <li ng-class="{'active':vm.tab == 'recent'}" ng-click="vm.tab = 'recent'">Recent Orders</li>
        <li ng-class="{'active':vm.tab == 'archive'}" ng-click="vm.tab = 'archive'">Archive</li>
      </ul> -->
      <h3>Recent Orders</h3>
      <img class="order-by" src="images/carot-down.svg">
      <button class="button right" ng-click="vm.createNewOrder()">Create New Order</button>
    </div>

    <div class="table-list" ng-show="vm.orders.length">
      <div class="pure-g header">
        <div class="pure-u-5-24">
          <p>DECEASED NAME</p>
          <i class="icon-Chevron" ng-click="vm.orderBy = 'case.data.details.DeceasedsName.value'; vm.descending = !vm.descending"></i>
        </div>
        <div class="pure-u-5-24">
          <p>CASE NUMBER</p>
          <i class="icon-Chevron" ng-click="vm.orderBy = 'case.data.caseId'; vm.descending = !vm.descending"></i>
        </div>
        <div class="pure-u-8-24">
          <p>CREATION DATE</p>
          <i class="icon-Chevron" ng-click="vm.orderBy = 'case.data.details.DateOfDeath.value'; vm.descending = !vm.descending"></i>
        </div>
        <div class="pure-u-1-8">
          <p>STATUS</p>
          <i class="icon-Chevron" ng-click="vm.orderBy = 'complete'; vm.descending = !vm.descending"></i>
        </div>
        <div class="pure-u-1-8 actions">
          <p>OPTIONS</p>
        </div>
      </div>
      <loader ng-hide="vm.orders"></loader>
      <div class="pure-g order" ng-repeat="order in vm.orders | orderBy: vm.orderBy: vm.descending">
        <div class="pure-u-5-24">
          <p>{{order.case.data.details.DeceasedsName.value ? order.case.data.details.DeceasedsName.value : 'Null'}}</p>
        </div>
        <div class="pure-u-5-24">
          <p>{{order.case.data.caseId ? order.case.data.caseId : 'Null'}}</p>
        </div>
        <div class="pure-u-8-24">
          <p>{{order.case.data.details.DateOfDeath.value ? order.case.data.details.DateOfDeath.value : 'Null' | date : 'MMM d, yyyy'}}</p>
        </div>
        <div class="pure-u-1-8">
          <p>{{order.complete ? 'Complete' : 'In Progress'}}</p>
        </div>
        <div class="pure-u-1-8 actions">
          <a href="/order/{{order._id}}" tooltip-placement="top" uib-tooltip="Edit"><i class="icon-edit circle"></i></a>
          <i class="icon-archive circle" data-toggle="modal" data-target="#archive-modal" tooltip-placement="top" uib-tooltip="Archive" ng-click="vm.archiveOrder(order.case.details.caseId)" data-toggle="modal" data-target="#archive-modal"></i>
        </div>
        <!-- <div class="pure-u-1-8 actions">
          <img src="images/ellipses.svg" class="ellipses">
          <img src="images/edit-icon.svg" class="action-icon" tooltip-placement="top" uib-tooltip="Edit">
          <img src="images/archive-icon.svg" class="action-icon" tooltip-placement="top" uib-tooltip="Archive" data-toggle="modal" data-target="#archive-modal">
        </div> -->
      </div>

    </div>

		<p class="message" ng-hide="vm.orders.length">No orders found</p>
  </div>

</div>

<!-- Modal -->
<div id="archive-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <img class="modal-close" src="images/modal-close-icon.svg" data-dismiss="modal">
        <img src="images/drawer-icon.svg">
        <h3>Archive this Case?</h3>
        <p>Are you sure you want to archive this case? It will be hidden from the Case Index, but retrievable in the Archive section.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button outline blue">NO, DON'T ARCHIVE</button>
        <button type="button" class="button">YES, ARCHIVE</button>
      </div>
    </div>
  </div>
</div>
