<siteheader></siteheader>

<section id="editor">
  <div class="assets-section">
		<div class="header">
			<p>
				Assets
			</p>
		</div>
		<section class="assets">
			<ul>
				<li class="drawer" ng-repeat="library in assetLibraries">
          <div class="preview" ng-click="showLibrary[$index] = !showLibrary[$index]">
            <h5 class="title">{{library.name}} <span>({{library.assets.length ? library.assets.length : 0}})</span></h5>
            <i class="glyphicon" ng-class="{'glyphicon-chevron-up':showLibrary[$index], 'glyphicon-chevron-down':!showLibrary[$index]}"></i>
          </div>
          <ul class="pure-g asset-list" ng-show="showLibrary[$index]">
						<li ng-repeat="asset in library.assets" class="pure-u-1-2">
							<div class="thumb" style="background-image:url(https://s3-us-west-2.amazonaws.com/bassmollett-resized/resized/small/{{asset.url | replacespaces}})">
								<i class="glyphicon glyphicon-zoom-in" ng-click="previewAsset(asset)"></i>
								<i class="glyphicon glyphicon-plus" ng-click="addPicture(asset.url)"></i>
							</div>
						</li>
          </ul>
        </li>
			</ul>
		</section>
  </div>

	<div class="product">
		<style>
			@font-face {
				font-family: 'AG University';
				src: url('fonts/editor-fonts/AGUniversity.ttf');
			}
			@font-face {
				font-family: 'Amazone';
				src: url('fonts/editor-fonts/Amazone.TTF');
			}
			@font-face {
				font-family: 'Century Gothic';
				src: url('fonts/editor-fonts/CenturyGothic.TTF');
				font-weight:500;
			}
			@font-face {
				font-family: 'Century Gothic';
				src: url('fonts/editor-fonts/CenturyGothicItalic.TTF');
				font-weight:600;
			}
			@font-face {
				font-family: 'Century Gothic';
				src: url('fonts/editor-fonts/CenturyGothicBoldItalic.TTF');
				font-weight:700;
			}
			@font-face {
				font-family: 'Century Gothic';
				src: url('fonts/editor-fonts/CenturyGothicBold.TTF');
				font-weight:800;
			}
			@font-face {
				font-family: 'English';
				src: url('fonts/editor-fonts/English157.TTF');
			}
			@font-face {
				font-family: 'FG Jayne';
				src: url('fonts/editor-fonts/FGJayne.ttf');
			}
			@font-face {
				font-family: 'Gaeilge';
				src: url('fonts/editor-fonts/Gaeilge.ttf');
			}
			@font-face {
				font-family: 'Goudy Catalog';
				src: url('fonts/editor-fonts/GoudyCatalog.TTF');
			}
			@font-face {
				font-family: 'Liberty';
				src: url('fonts/editor-fonts/Liberty.TTF');
			}
			@font-face {
				font-family: 'Mistral';
				src: url('fonts/editor-fonts/Mistral.TTF');
			}
			@font-face {
				font-family: 'Monterey';
				src: url('fonts/editor-fonts/Monterey.TTF');
			}
			@font-face {
				font-family: 'Murray Hill';
				src: url('fonts/editor-fonts/MurrayHill.TTF');
			}
			@font-face {
				font-family: 'Murray Hill';
				src: url('fonts/editor-fonts/MurrayHillBold.TTF');
				font-weight: 'Bold';
			}
			@font-face {
				font-family: 'Nuptial';
				src: url('fonts/editor-fonts/Nuptial.TTF');
			}
			@font-face {
				font-family: 'Papyrus';
				src: url('fonts/editor-fonts/Papyrus.TTF');
			}
			@font-face {
				font-family: 'Park Avenue';
				src: url('fonts/editor-fonts/ParkAvenue.TTF');
			}
			@font-face {
				font-family: 'Piranesi';
				src: url('fonts/editor-fonts/Piranesi.TTF');
			}
			@font-face {
				font-family: 'Pristina';
				src: url('fonts/editor-fonts/Pristina.TTF');
			}
			@font-face {
				font-family: 'Ribbon';
				src: url('fonts/editor-fonts/Ribbon131.TTF');
			}
			@font-face {
				font-family: 'Ruthie';
				src: url('fonts/editor-fonts/Ruthie.ttf');
			}
			@font-face {
				font-family: 'Scriptina';
				src: url('fonts/editor-fonts/Scriptina.ttf');
			}
			@font-face {
				font-family: 'Shelley Allegro';
				src: url('fonts/editor-fonts/ShelleyAllegro.TTF');
			}
			@font-face {
				font-family: 'Shelley Andante';
				src: url('fonts/editor-fonts/ShelleyAndante.TTF');
			}
			@font-face {
				font-family: 'Vivaldii';
				src: url('fonts/editor-fonts/Vivaldii.TTF');
			}
			@font-face {
				font-family: 'Wedding Text';
				src: url('fonts/editor-fonts/WeddingText.TTF');
			}
		</style>
    <div class="page element" data-type="page" style="width:612px; height:792px; background:white;" ng-click="selectElement($event)">
      <i class="resizer glyphicon glyphicon-fullscreen"></i>
			<textarea ng-click="selectElement($event)" data-type="text" style="position:absolute; border:none; text-align:center; resize:none; background:none;" class="draggable element">{{case.details.DeceasedsName.value}}</textarea>
      <div style="background-image:url(https://s3-us-west-2.amazonaws.com/bassmollett-uploads/1qwtk158674354.jpg); background-size:100% 100%; position: absolute; max-width: 100%; cursor: pointer; opacity: 1; top: 182px; left: 79px; box-shadow: 0 0 18px 18px white inset;" data-type="image" class="draggable element ng-scope image"></div>
      <div class="element draggable" style="width:200px; height:200px; background:rgba(0,0,0,0.3); box-shadow: 0px 0px 18px 18px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.3);">

      </div>
    </div>

  </div>

	<div class="action-bar">

		<section ng-show="action_type == 'text'">
			<div class="row gray-bg title">
				<p>
					{{selected.text ? selected.text : 'This is a test to see what will happen' | limitTo:30}}
				</p>
				<i class="glyphicon glyphicon-trash" ng-click="deleteElement()"></i>
			</div>

			<div class="row align-objects">
				<i class="icon-LeftAlign-object" ng-click="textActions.leftAlignObject()"></i>
				<i class="icon-CenterVertical-object" ng-click="textActions.centerVerticalAlignObject()"></i>
				<i class="icon-RightAlign-object" ng-click="textActions.rightAlignObject()"></i>
				<i class="icon-TopAligh-object" ng-click="textActions.topAlignObject()"></i>
				<i class="icon-CenterHorizontal-object" ng-click="textActions.centerHorizontalAlignObject()"></i>
				<i class="icon-BottomAlign-object" ng-click="textActions.bottomAlignObject()"></i>
			</div>

			<div class="row pure-g">
				<div class="pure-u-1-2 padding-right">
					<p>
						Width (px)
					</p>
					<input type="number" placeholder="30px" class="outline small" ng-model="selected.width" ng-change="updateSelected()"/>
				</div>
				<div class="pure-u-1-2">
					<p>
						Height (px)
					</p>
					<input type="number" placeholder="30px" class="outline small" ng-model="selected.height" ng-change="updateSelected()"/>
				</div>
			</div>

      <div class="row">
        <p>
          Z-index
        </p>
        <input type="number" placeholder="0" class="outline small" ng-model="selected.zindex" ng-change="updateSelected()"/>
      </div>

			<div class="row">
				<p>
					Font
				</p>
				<select class="outline" ng-model="selectedFont" ng-change="textActions.updateFont()">
					<option ng-repeat="font in fonts" ng-value="$index">
						{{font.name}}
					</option>
				</select>
				<p ng-if="fonts[selectedFont].weights">
					Weight
				</p>
				<select ng-if="fonts[selectedFont].weights" class="outline" ng-model="selectedWeight" ng-change="textActions.updateFont()">
					<option ng-repeat="weight in fonts[selectedFont].weights" ng-value="$index">
						{{weight.name}}
					</option>
				</select>

				<div class="pure-g">
					<div class="pure-u-1-2 padding-right">
						<p>
							Size (px)
						</p>
						<input type="number" placeholder="30px" class="outline small" ng-model="selected.fontsize" ng-change="updateSelected()"/>
					</div>
					<div class="pure-u-1-2">
						<p>
							Color
						</p>
						<div class="swatch" style="background-color:{{selected.fontcolor ? selected.fontcolor : '#bbb'}};" ng-click="showFontColorPicker($event)">

						</div>
					</div>
				</div>

				<p>
					Text Alignment
				</p>
				<div class="align-text">
					<i class="icon-LeftAlign-text" ng-class="{'active':selected.textAlign == 'left'}" ng-click="selected.textAlign = 'left'; textActions.leftAlign()"></i><i class="icon-Center-text" ng-class="{'active':selected.textAlign == 'center'}" ng-click="selected.textAlign = 'center'; textActions.center()"></i><i class="icon-RightAlign-text" ng-class="{'active':selected.textAlign == 'right'}" ng-click="selected.textAlign = 'right'; textActions.rightAlign()"></i><i class="icon-Justify-text" ng-class="{'active':selected.textAlign == 'justified'}" ng-click="selected.textAlign = 'justified'; textActions.justify()"></i>
				</div>
			</div>
			<div class="row">
				<checkbox ng-model="selected.border.active" ng-change="updateSelected()"></checkbox>
				<p class="inline">
					Border
				</p><br /><br />
				<select class="outline" ng-model="selected.border.type" ng-change="updateSelected()">
					<option value="solid">
						Line
					</option>
					<option value="dashed">
						Dashed
					</option>
				</select>
				<div class="pure-g">
					<div class="pure-u-1-2 padding-right">
						<p>
							Thickness (px)
						</p>
						<input type="number" placeholder="1px" class="outline small" ng-model="selected.border.thickness" ng-change="updateSelected()"/>
					</div>
					<div class="pure-u-1-2">
						<p>
							Color
						</p>
						<div class="swatch" style="background-color:{{selected.border.color ? selected.border.color : '#bbb'}};" ng-click="showBorderColorPicker($event)">

						</div>
					</div>
					<div class="pure-u-1">
						<p>
							Border Radius (px)
						</p>
						<input type="number" placeholder="1px" class="outline small" ng-model="selected.border.radius" ng-change="updateSelected()"/>
					</div>
				</div>
			</div>

			<div class="row">
				<checkbox ng-model="selected.textshadow"></checkbox>
				<p class="inline">
					Text Shadow
				</p>
				<div class="pure-g">
					<div class="pure-u-1-2 padding-right">
						<p>
							Blur (px)
						</p>
						<input type="number" placeholder="1px" class="outline small" />
					</div>
					<div class="pure-u-1-2">
						<p>
							Color
						</p>
						<div class="swatch" style="background-color:{{selected.textColor ? selected.textColor : '#bbb'}};" ng-click="showPicker($event)">

						</div>

					</div>
					<div class="pure-u-1-2 padding-right">
						<p>
							X Offset (px)
						</p>
						<input type="number" placeholder="1px" class="outline small" />
					</div>
					<div class="pure-u-1-2">
						<p>
							Y Offset (px)
						</p>
						<input type="number" placeholder="1px" class="outline small" />
					</div>
				</div>
			</div>
		</section>

    <section ng-show="action_type == 'image'">
			<div class="row gray-bg title">
				<p>
					{{selected.text ? selected.text : 'This is a test to see what will happen' | limitTo:30}}
				</p>
				<i class="glyphicon glyphicon-trash" ng-click="deleteElement()"></i>
			</div>

			<div class="row align-objects">
				<i class="icon-LeftAlign-object" ng-click="textActions.leftAlignObject()"></i>
				<i class="icon-CenterVertical-object" ng-click="textActions.centerVerticalAlignObject()"></i>
				<i class="icon-RightAlign-object" ng-click="textActions.rightAlignObject()"></i>
				<i class="icon-TopAligh-object" ng-click="textActions.topAlignObject()"></i>
				<i class="icon-CenterHorizontal-object" ng-click="textActions.centerHorizontalAlignObject()"></i>
				<i class="icon-BottomAlign-object" ng-click="textActions.bottomAlignObject()"></i>
			</div>

			<div class="row pure-g">
				<div class="pure-u-1-2 padding-right">
					<p>
						Width (px)
					</p>
					<input type="number" placeholder="30px" class="outline small" ng-model="selected.width" ng-change="updateSelected()"/>
				</div>
				<div class="pure-u-1-2">
					<p>
						Height (px)
					</p>
					<input type="number" disabled placeholder="30px" class="outline small" ng-model="selected.height" ng-change="updateSelected()"/>
				</div>
			</div>

      <div class="row pure-g">
        <div class="pure-u-2-3">
          <p>
            Image Shape
          </p>
        </div>
        <div class="pure-u-1-3 image-shapes">
          <i class="icon-Oval" ng-click="imageActions.ovalShape(); imageShape = 'oval'" ng-class="{'active':imageShape == 'oval'}"></i>
          <i class="icon-Square" ng-click="imageActions.squareShape(); imageShape = 'square'" ng-class="{'active':imageShape == 'square'}"></i>
        </div>
      </div>

      <div class="row">
        <p>
          Z-index
        </p>
        <input type="number" placeholder="0" class="outline small" ng-model="selected.zindex" ng-change="updateSelected()"/>
      </div>

			<div class="row">
				<checkbox ng-model="selected.border.active" ng-change="updateSelected()"></checkbox>
				<p class="inline">
					Border
				</p><br /><br />
				<select class="outline" ng-model="selected.border.type" ng-change="updateSelected()">
          <option value="none">
						None
					</option>
          <option value="solid">
						Line
					</option>
					<option value="dashed">
						Dashed
					</option>
				</select>
				<div class="pure-g">
					<div class="pure-u-1-2 padding-right">
						<p>
							Thickness (px)
						</p>
						<input type="number" placeholder="1px" class="outline small" ng-model="selected.border.thickness" ng-change="updateSelected()"/>
					</div>
					<div class="pure-u-1-2">
						<p>
							Color
						</p>
						<div class="swatch" style="background-color:{{selected.border.color ? selected.border.color : '#bbb'}};" ng-click="showBorderColorPicker($event)">

						</div>
					</div>
					<div class="pure-u-1">
						<p>
							Border Radius (px)
						</p>
						<input type="number" placeholder="1px" class="outline small" ng-model="selected.border.radius" ng-change="updateSelected()"/>
					</div>
				</div>
			</div>

		</section>

  </div>
	<div class="action-bar-outside">
		<div ng-show="showFontColor" click-outside="showFontColor = false">
			<color-picker ng-model="selected.fontcolor" ng-change="updateSelected()">
			</color-picker>
		</div>
		<div ng-show="showBorderColor" click-outside="showBorderColor = false">
			<color-picker ng-model="selected.border.color" ng-change="updateSelected()">
			</color-picker>
		</div>
	</div>
</section>
