<div id="landing-page">
  <div class="row">
    <img class="left" id="logo" src="../images/logo.png" />
    <a href="/login"><button class="button clear white right">Log in</button></a>
  </div>

  <div class="container">
    <article>
      <h2>The director's complete funeral resource.</h2>
      <h4>Bass-Mollett has been serving the Funeral Industry for generations. Sign up for access to our great funeral resources.</h4>
      <a href="/signup"><button class="button">Sign Up</button></a>
    </article>
  </div>
</div>
