<div class="form-box">
	<img id="logo" src="../images/logo.png" />
  <form ng-submit="vm.login()">
    <input type="text" ng-model="vm.form.email" placeholder="email" />
    <input type="password" ng-model="vm.form.password" placeholder="password" />
    <button type="submit" class="button full">Login</button>
    <p class="alt-text">Need an account? <a href="/signup">Sign up now.</a></p>
  </form>
</div>
