<siteheader></siteheader>

<div class="order-header">
	<div class="container">
		<p class="left save" ng-click="vm.saveOrderAndExit()">Save &amp; Exit</p>
		<h5 class="middle">Create Your Order</h5>
	</div>
</div>

<div class="steps-bar">
	<div class="container">
		<button class="button left back" ng-hide="vm.tab == 'case'" ng-click="vm.back()"><i class="icon-Chevron"></i>Back</button>
		<ul class="middle">
			<li ng-click="vm.tab = 'case'" ng-class="{'active':vm.tab == 'case'}"><span>1</span> Case</li>
			<li ng-click="vm.tab = 'products'" ng-class="{'active':vm.tab == 'products'}"><span>2</span> Products</li>
			<li ng-click="vm.tab = 'theme'" ng-class="{'active':vm.tab == 'theme'}"><span>3</span> Theme</li>
			<li ng-click="vm.tab = 'customize'" ng-class="{'active':vm.tab == 'customize'}"><span>4</span> Print</li>
		</ul>
		<button class="button right" ng-show="vm.tab == 'customize'" ng-click="vm.done()">Done</button>
		<button class="button right next" ng-hide="vm.tab == 'customize'" ng-click="vm.next()"><i class="icon-Chevron"></i>Next</button>
	</div>
</div>


<div id="createcase-page" class="page-padding">

	<section ng-show="vm.tab == 'case'">
		<div class="container wide">

			<div class="box no-padding">

				<div class="table-list">
					<div class="title row">
						<h3 class="left">Select a Case</h3>
						<button class="button right outline" ng-click="vm.createCase()">Create New Case</button>
					</div>
					<div class="pure-g header">
						<div class="pure-u-5-24">
							<p>DECEASED NAME</p>
						</div>
						<div class="pure-u-3-24">
							<p>CASE NUMBER</p>
						</div>
						<div class="pure-u-5-24">
							<p>D.O.D.</p>
						</div>
						<div class="pure-u-5-24">
							<p>SERVICE DATE</p>
						</div>
						<div class="pure-u-3-24">
							<p>FAMILY CONTACT</p>
						</div>
						<div class="pure-u-3-24">
							<p>MILITARY</p>
						</div>
					</div>
					<loader ng-hide="vm.cases"></loader>
					<div class="pure-g order checkable" ng-repeat="case in vm.cases" ng-class="{'selected': case.id == vm.order.caseId}">
						<div class="pure-u-5-24">
							<input type="radio" name="case" ng-model="case.selected" ng-click="vm.selectCase(case)" />
							<p>{{case.details.DeceasedsName.value ? case.details.DeceasedsName.value : 'Null'}}</p>
							<p>
						</div>
						<div class="pure-u-3-24">
							<p>{{case.caseId ? case.caseId : 'Null'}}</p>
						</div>
						<div class="pure-u-5-24">
							<p>{{case.details.DateOfDeath.value ? case.details.DateOfDeath.value : 'Null' | date:'MM/dd/yyyy'}}</p>
						</div>
						<div class="pure-u-5-24">
							<p>{{case.details.serviceDate.value ? case.details.serviceDate.value : 'Null' | date:'MM/dd/yyyy'}}</p>
						</div>
						<div class="pure-u-3-24">
							<p>{{case.details.FamilyContact.value ? case.details.FamilyContact.value : 'Null'}}</p>
						</div>
						<div class="pure-u-3-24">
							<p>{{case.details.BranchOfService.value ? 'Yes' : 'No'}} {{case.details.BranchOfService.value ? ', ' + case.details.BranchOfService.value : ''}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

	<section ng-show="vm.tab == 'products'">
		<div class="container wide">

			<div class="row header center">
				<h3>Add Products</h3>
			</div>

			<ul class="tabs">
				<li ng-repeat="collection in vm.order.collections" ng-class="{'active':vm.collectiontab == collection.name}">
					<p ng-click="vm.collectiontab = collection.name">{{collection.name}}</p>
				</li>
			</ul>

			<!-- SLIDER AND MODAL GOES IN HERE WHEN FINISHED-->
			<section ng-repeat="collection in vm.order.collections" ng-show="vm.collectiontab == collection.name && collection.packages.length">
				<h4>Product Packages</h4>

				<slick ng-if="vm.tab == 'products'" slides-to-show="5" slides-to-scroll="1">
					<div class="card" ng-repeat="package in collection.packages" data-toggle="modal" data-target="#packageModal">
						<div class="preview">
							<img src="http://placehold.it/236x236" />
							<p>{{package.name}}</p>
							<p>{{package.category}}</p>
						</div>
					</div>
				</slick>

			</section>

			<!-- MODAL WINDOW -->
			<div id="packageModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
						</div>
						<div class="modal-body">
							<p>Some text in the modal.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<!-- The rest of the products go in here -->
			<section ng-repeat="collection in vm.order.collections" ng-show="vm.collectiontab == collection.name">
				<h4>Products</h4>
				<ul class="pure-g cards">
					<li class="pure-u-1-5" ng-class="{'faded':!product.selected}" ng-repeat="product in collection.products">
						<div class="card">
							<checkbox class="check-box" ng-model="product.selected"></checkbox>
							<div class="preview" style="background:url(http://placehold.it/240x240);"></div>
							<p>{{product.name}}</p>
						</div>
					</li>
				</ul>
			</section>

			<loader ng-hide="vm.order.collections"></loader>

		</div>
	</section>

	<section id="theme-section" ng-show="vm.tab == 'theme'">

		<div class="container">
			<div class="row underline header">
				<h3>Pick a Theme</h3>
			</div>
			<div class="theme-category" ng-repeat="category in vm.categories" ng-if="category.themes.length">
				<div class="row">
					<h4 class="left">{{category.name}}</h4>
					<button class="button right outline">Sort By</button>
				</div>
				<ul class="cards pure-g">
					<li class="pure-u-1-5" ng-repeat="theme in category.themes">
						<div class="card">
							<input type="radio" class="radio" name="theme" ng-model="vm.selectedTheme[$parent.$index][$index]" ng-click="vm.selectTheme(theme, category)">
							</checkbox>
							<div class="preview" style="background:url(https://s3-us-west-2.amazonaws.com/bassmollett-resized/resized/small/{{theme.image}}) no-repeat center;"></div>
							<p>{{theme.name}}</p>
						</div>
					</li>
				</ul>
			</div>

		</div>

	</section>


	<section ng-show="vm.tab == 'customize'">
		<div class="container">
			<div class="row underline header">
				<h3>Customize &amp; Print</h3>
			</div>

			<ul class="tabs row">
				<li ng-repeat="collection in vm.order.collections" ng-click="vm.list = collection.name" ng-class="{'active':vm.list == collection.name}">
					<p>{{collection.name}}</p>
				</li>
			</ul>

			<div class="pure-g">
				<div class="pure-u-1-3">
					<div class="box product-list">
						<div class="header">
							<p>Your Products</p>
						</div>
						<div class="category" ng-repeat="collection in vm.order.collections" ng-show="vm.list == collection.name">
							<ul>
								<li ng-repeat="product in collection.products" ng-show="product.selected" ng-click="vm.selectProduct(product, collection.name)" ng-class="{'active':vm.selectedProduct == product}">
									<div class="pure-g">
										<div class="pure-u-1-5">
											<img src="http://placehold.it/50x50" />
										</div>
										<div class="pure-u-4-5">
											<p>{{product.name}}</p>
											<i class="icon-chevron-right"></i>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="pure-u-2-3 padding-left">
					<div class="box theme-preview">
						<div class="header row">
							<div class="description left">
								<p>{{vm.selectedProductCollection}}</p>
								<h5>{{vm.selectedProduct.name}}</h5>
							</div>
							<a href="/editor/{{vm.order._id}}/{{vm.selectedProduct._id}}/{{vm.selectedSize}}"><button class="button right outline">Customize</button></a>
							<input type="file" id="replace_theme_file" hidden/>
						</div>
						<div class="header row" ng-if="vm.selectedProduct.layouts.length > 1">
							<p>Size:</p>
							<div class="btn-group" uib-dropdown>
								<button id="single-button" class="button outline dropdown" uib-dropdown-toggle ng-disabled="disabled">
									{{vm.selectedSize ? vm.selectedSize: 'Select Size'}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
									<li ng-repeat="layout in vm.selectedProduct.layouts" ng-click="vm.selectSize(layout)">{{layout.name}}</li>
								</ul>
							</div>
						</div>
						<div class="preview">
							<div id="theme">
								<p ng-show="vm.showUploadText">No image uploaded</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
