<siteheader></siteheader>

<div id="settings">
  <ul class="tabs left no-float">
    <li ng-class="{'active':vm.tab == 'staff'}">
      <p ng-click="vm.tab = 'staff'">Staff Members</p>
    </li>
    <li ng-class="{'active':vm.tab == 'info'}">
      <p ng-click="vm.tab = 'info'">Funeral Home Info</p>
    </li>
    <li ng-class="{'active':vm.tab == 'account'}">
      <p ng-click="vm.tab = 'account'">Account Settings</p>
    </li>
  </ul>

  <section class="staff" ng-show="vm.tab == 'staff'">
    <div class="pure-g">
      <div class="pure-u-1-2">
        <h5>Funeral Home Staff</h5>
        <br>
        <ul>
          <li class="member" ng-hide="member.manager" ng-repeat="member in vm.staffMembers">
            <div class="pure-g">
              <div class="pure-u-1">
                <p>{{member.name}}</p>
                <p>{{member.email}}</p>
                <p class="margin-bottom">
                  <text ng-if="member.active" class="green">Approved Collaborator<img src="images/green-checkmark.svg" class="checkmark"></text>
                  <text ng-if="!member.active">Pending Approval</text>
                </p>
                <button class="button sm" ng-click="vm.resendActivationEmail(member.activationId, vm.home.name, member.email)">Resend Email</button>
                <img src="images/red-delete.svg" class="delete" ng-click="vm.removeStaff(member._id)">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="pure-u-1-2">
        <h5>Add Staff Member</h5>
        <div class="add-staff">
          <p>Enter the information below to add a new collaborator to this case.</p>
          <input class="outline" type="text" placeholder="Staff Member Name" ng-model="vm.form.name" />
          <input class="outline" type="text" placeholder="Staff Member Email" ng-model="vm.form.email" />
          <button class="button" ng-click="vm.addStaff()" ng-show="!vm.saving">Send</button>
          <button class="button blue" ng-show="vm.saving">Sending...</button>
          <p class="error" ng-show="vm.error">{{vm.error}}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="info" ng-show="vm.tab == 'info'">
    <loader ng-hide="vm.home"></loader>
    <h5>Funeral Home Information</h5>
    <p class="small"> Select edit to make any changes to this funeral home's information</p>
    <div class="home-content pure-g">
      <div class="pure-u-2-5">
        <div class="home-logo" style="background-image: url({{vm.home.logo}}); background-size: cover;"></div>
        <input type="file" id="logo_file" />
      </div>
      <div class="inputs pure-u-3-5">
        <input type="hidden" ng-model="vm.home.logo" />
        <label for="home-name">Funeral Home Name</label>
        <input type="text" id="home-name" class="outline" placeholder="Funeral Home Name" ng-model="vm.home.name" />
        <label for="home-id">Customer ID</label>
        <input type="text" id="home-id" class="outline" placeholder="Funeral Home Id" ng-model="vm.home.customerId" disabled/>
        <label for="manager-name">General Manager</label>
        <input type="text" id="manager-name" class="outline" placeholder="General Manager Name" ng-model="vm.home.manager" disabled/>
      </div>
    </div>
    <button class="button" ng-click="vm.updateFuneralHome()" ng-show="!vm.saving">Save</button>
    <button class="button blue" ng-show="vm.saving">Saving...</button>
    <p class="error" ng-show="vm.homeerror">{{vm.homeerror}}</p>
  </section>

  <section class="account" ng-show="vm.tab == 'account'">
    <loader ng-hide="vm.user"></loader>
    <h5>{{vm.user.name}} / Profile</h5>
    <p class="small">Edit your name, email, or password</p>
    <div class="inputs">
      <label for="user-name">Staff Member Name</label>
      <input type="text" id="user-name" class="outline" placeholder="Name" ng-model="vm.user.name" />
      <label for="user-email">Email</label>
      <input type="text" id="user-email" class="outline" placeholder="Email" ng-model="vm.user.email" />
      <label for="user-pass">Password</label>
      <input type="password" id="user-pass" class="outline" placeholder="New password" ng-model="vm.user.newPassword" />
    </div>
    <button class="button" ng-click="vm.updateUser()" ng-show="!vm.saving">Save</button>
    <button class="button blue" ng-show="vm.saving">Saving...</button>
    <p class="error" ng-show="vm.usererror">{{vm.usererror}}</p>
  </section>

</div>
