<div id="signup-page">
  <div class="form-box">
    <form ng-submit="vm.signup()">
      <img id="logo" src="../images/logo.png" />
      <p>Signup to access your account</p>
      <input type="email" ng-model="vm.form.email" placeholder="Email" required/>
      <input type="text" ng-model="vm.form.details.funeralHome" placeholder="Funeral Home" required/>
      <input type="text" ng-model="vm.form.name" placeholder="Name" required/>
      <input type="password" ng-model="vm.form.password" placeholder="Password" required/>
			<p ng-if="vm.message">
				{{vm.message}}
			</p>
      <button type="submit" class="button full">Sign up</button>
      <p class="alt-text">
        Already have an account? <a href="/login">Login</a>
      </p>
    </form>
  </div>

</div>
