<input type="text" placeholder="email" ng-model="vm.form.email"/>
<input type="password" placeholder="password" ng-model="vm.form.password"/>
<button class="button" ng-click="vm.activateUser()">Sign Up</button>
