<section class="guide">

  <div class="collapse">
    <button type="button" class="btn btn-default" ng-click="vm.isCollapsed = !vm.isCollapsed">Toggle collapse</button>
    <hr>
    <div uib-collapse="vm.isCollapsed">
      <div class="well well-lg">Some content</div>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-6">
      <ul>
        <li ng-class="{'active':vm.tab == 'buttons'}" ng-click="vm.tab = 'buttons'">
          <p>Buttons</p>
        </li>
        <li ng-class="{'active':vm.tab == 'animations'}" ng-click="vm.tab = 'animations'">
          <p>Animations</p>
        </li>
        <li ng-class="{'active':vm.tab == 'colors'}" ng-click="vm.tab = 'colors'">
          <p>Colors</p>
        </li>
        <li ng-class="{'active':vm.tab == 'forms'}" ng-click="vm.tab = 'forms'">
          <p>Forms</p>
        </li>
        <li ng-class="{'active':vm.tab == 'modals'}" ng-click="vm.tab = 'modals'">
          <p>Modals</p>
        </li>
        <li ng-class="{'active':vm.tab == 'typography'}" ng-click="vm.tab = 'typography'">
          <p>Typography</p>
        </li>
        <li ng-class="{'active':vm.tab == 'icons'}" ng-click="vm.tab = 'icons'">
          <p>Icons</p>
        </li>
      </ul>
    </div>
    <div class="pure-u-5-6">

      <section ng-show="vm.tab=='buttons'">
        <button>Normal button</button>
        <button class="button icon"><i class="icon-arrow-left"></i> Icon Button</button>
        <button class="button clear">Clear Button</button>
        <button class="button pill">Pill Button</button>
        <button class="button outline blue">Outline Button</button>
        <button class="button back"><i class="icon-arrow-left"></i>Back</button>
        <button class="button next"><i class="icon-arrow-left"></i>Next</button>
      </section>

      <section ng-show="vm.tab=='animations'">
        <div class="slick-container">
          <slick arrows=true infinite=true speed=300 slides-to-show=5 touch-move=false slides-to-scroll=1>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
            <div class="card">
              <img src="http://placehold.it/240x320">
            </div>
          </slick>
        </div>
      </section>

      <section ng-show="vm.tab=='typography'">
        <h1>h1 Sample Text</h1>
        <h2>h2 Sample Text</h2>
        <h3>h3 Sample Text</h3>
        <h4>h4 Sample Text</h4>
        <h5>h5 Sample Text</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra tortor est, eget mollis turpis elementum fermentum. Duis at gravida justo. Phasellus iaculis felis id nunc porttitor, in fringilla ante accumsan. Maecenas nec blandit felis, id sagittis augue. Phasellus id semper nulla. Ut posuere consequat nisi vitae dapibus.</p>
      </section>

      <section ng-show="vm.tab=='colors'">
        <div class="color-swatch navy">
          <div class="color-box"></div>
          <p>Navy - #768097</p>
        </div>
        <div class="color-swatch gold">
          <div class="color-box"></div>
          <p>Gold - #a68438</p>
        </div>
        <div class="color-swatch dark-gray">
          <div class="color-box"></div>
          <p>Dark Gray - #bdbec0</p>
        </div>
        <div class="color-swatch navy">
          <div class="color-box"></div>
          <p>Navy - #768097</p>
        </div>
        <div class="color-swatch gold">
          <div class="color-box"></div>
          <p>Gold - #a68438</p>
        </div>
        <div class="color-swatch dark-gray">
          <div class="color-box"></div>
          <p>Dark Gray - #bdbec0</p>
        </div>
      </section>

      <section ng-show="vm.tab=='icons'">
        <i class="icon-arrow-left"></i>
        <i class="icon-home"></i>
        <i class="icon-pencil"></i>
      </section>

      <section ng-show="vm.tab=='forms'">

        <!-- Text Input -->
        <input type="text" placeholder="Text input"/>
        <input class="outline" type="text" placeholder="Text input"/>

        <!-- Select -->
        <div class="btn-group" uib-dropdown>
          <button id="single-button" class="outline dropdown" uib-dropdown-toggle ng-disabled="disabled">
            {{vm.selected ? vm.selected : 'Select Item'}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li ng-click="vm.selected = 'Item 1'">Item 1</li>
            <li ng-click="vm.selected = 'Item 2'">Item 2</li>
            <li ng-click="vm.selected = 'Item 3'">Item 3</li>
          </ul>
        </div>

        <!-- Date Picker -->
        <input type="date" ng-model="date"/>


        <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

        <h4>Inline</h4>
        <div style="display:inline-block; min-height:290px;">
          <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
        </div>

        <hr />

        <!-- Accordian -->
        <uib-accordion close-others="oneAtATime">

          <uib-accordion-group is-open="status.isFirstOpen">
            <uib-accordion-heading>
              <h5>Test Accordian Panel 1</h5>
              <i ng-class="{'icon-arrow-left': status.isFirstOpen, 'icon-arrow-right': !status.isFirstOpen}"></i>
            </uib-accordion-heading>
            <div>
              <input class="outline" type="text" placeholder="Text input"/>
              <input class="outline" type="text" placeholder="Text input"/>
              <input class="outline" type="text" placeholder="Text input"/>
            </div>
          </uib-accordion-group>

          <uib-accordion-group is-open="status.isSecondOpen">
            <uib-accordion-heading>
              <h5>Test Accordian Panel 2</h5>
              <i ng-class="{'icon-arrow-left': status.isSecondOpen, 'icon-arrow-right': !status.isSecondOpen}"></i>
            </uib-accordion-heading>
            <div>
              <input class="outline" type="text" placeholder="Text input"/>
              <input class="outline" type="text" placeholder="Text input"/>
              <input class="outline" type="text" placeholder="Text input"/>
            </div>
          </uib-accordion-group>

        </uib-accordion>

      </section>

      <section ng-show="vm.tab=='modals'">
        <button type="button" data-toggle="modal" data-target="#myModal">Open Modal</button>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

</section>
