<siteheader></siteheader>

<ul class="tabs left no-float no-margin">
  <li ng-class="{'active':vm.tab == 'contact'}">
    <p ng-click="vm.tab = 'contact'">Contact</p>
  </li>
  <li ng-class="{'active':vm.tab == 'faq'}">
    <p ng-click="vm.tab = 'faq'">FAQ</p>
  </li>
  <li ng-class="{'active':vm.tab == 'instructions'}">
    <p ng-click="vm.tab = 'instructions'">Instructions</p>
  </li>
</ul>


<section ng-show="vm.tab == 'contact'" class="container" id="contact">
  <div class="box border-top center">
    <h3>GET IN TOUCH</h3>
    <p>Connect with us for general assistance, technical issues or to report problems</p>
    <img src="images/cellphone-icon.svg">
    <p>Please call toll free</p>
    <h4>1-855-277-0436</h4>
    <hr>
    <p>Customer Care Hours</p>
    <h4>Mon - Fri 7:30 am to 4:15 pm (cst)</h4>
  </div>
</section>

<section ng-show="vm.tab == 'faq'" id="faq">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <h5>Question one?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
      <h5>Question three?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
      <h5>Question five?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
      <h5>Question seven?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
    </div>
    <div class="pure-u-1-2">
      <h5>Question two?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
      <h5>Question four?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
      <h5>Question six?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
      <h5>Question eight?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
    </div>
  </div>
</section>

<section ng-show="vm.tab == 'instructions'" id="instructions">
  <div class="videos">
    <div class="video">
      <p>STEP ONE</p>
      <div data-toggle="modal" data-target="#vid-modal1"></div>
    </div>
    <div class="video">
      <p>STEP TWO</p>
      <div data-toggle="modal" data-target="#vid-modal2"></div>
    </div>
    <div class="video">
      <p>STEP THREE</p>
      <div data-toggle="modal" data-target="#vid-modal3"></div>
    </div>
  </div>
  <div class="instructions">
    <h5>Bass-Mollett Instructions</h5>
    <p class="step-number">Step 1.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
    <p class="step-number">Step 2.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
    <p class="step-number">Step 3.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
    <p class="step-number">Step 4.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
    <p class="step-number">Step 5.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis scelerisque sapien eu efficitur. Ut imperdiet felis eu risus mollis, sed aliquam magna lacinia. Proin egestas accumsan ligula ut tempus. Nulla vestibulum hendrerit tellus, quis malesuada ligula posuere at. Donec ex enim, lobortis nec auctor rhoncus, consectetur sed nibh. Vestibulum blandit eros eget magna porta, ac malesuada nisi posuere. Aliquam faucibus massa in diam egestas congue. Phasellus eu risus suscipit, ultrices leo at, ornare turpis. Donec vel ultricies magna, nec lobortis lacus.</p>
  </div>

  <!-- Modal -->
  <div id="vid-modal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <video id="video1" width="320" height="240" controls>
            <source type="video/mp4" src="videos/vid1.mp4" />
          Your browser does not support the video tag.
          </video>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="vid-modal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <video id="video2" width="320" height="240" controls>
            <source type="video/mp4" src="videos/vid1.mp4" />
          Your browser does not support the video tag.
          </video>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="vid-modal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <video id="video3" width="320" height="240" controls>
            <source type="video/mp4" src="videos/vid1.mp4" />
          Your browser does not support the video tag.
          </video>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</section>
