.course-page
  .big-card
    max-width 1000px
    background white
    padding 30px
    margin 30px auto 0
    border-radius 4px
    border 1px solid clr-outlineGray

    li
      margin-bottom 10px
      padding 15px 10px
      &:nth-child(odd)
        background clr-outlineGray
      p
        padding-bottom 10px
      img
        max-width 100%

    button
      max-width 300px
      margin 30px auto
      display block
