.courses-page

  header
    padding 30px 0
    max-width 1000px
    margin 0 auto
    input
      max-width 500px
      display inline-block
    p
      padding 25px 0 0
      float right

  .courses-list
    max-width 1000px
    margin 0 auto
    li
      padding 15px
      margin 15px 0
      background white
      border-radius 4px
      p
        padding-top 5px
      i
        float right
        font-size 20px
    img
      max-width 100%
      max-height 80px
