#dashboard
	position fixed
	width 100%
	height 100%
	top 0px
	left 0px
	overflow scroll

.stats-page
	.stats-tabs
		text-align center
		li
			display inline-block
			padding	30px
			cursor pointer
			&.active
				color clr-orange
				font-weight 600

	.charts
		section
			max-width 1200px
			margin 30px auto

.dashboard-page
	padding 30px 0
