#editor
	background-color #f8f8f8
	position relative
	height 100vh
  .assets-section
		width 250px
		position absolute
		height 100%
		top 0px
		left 0px
		background white
		box-shadow 0 2px 4px rgba(0, 0, 0, 0.2)
		overflow scroll
		z-index 10
		.header
			background-color #f8f8f8
			padding 16px
			text-align center
			border-bottom 2px solid #d9ba6e
			p
				color #194c73
				font-weight 700
				letter-spacing 1px
				text-transform uppercase
				font-size 13px
		.assets
			.thumb
				background-size cover !important
				background-position center !important
				height 115px
				border-radius 3px
				text-align center
				&:hover i
					display inline-block
				i
					font-size 20px
					margin 0 7px
					vertical-align middle
					color white
					text-shadow 0px 0px 2px rgba(0,0,0,.6)
					cursor pointer
					display none
			.drawer
				.asset-list li
					padding 5px
				.preview
					padding 15px
					border-bottom 2px solid #e4e5e5
					position relative
					cursor pointer
					h5
						color #194c73
						font-size 13px
						line-height 16px
						font-weight 700
						span
							font-weight 400
					i
						position absolute
						top 40%
						right 15px
						color rgba(117, 128, 150, 0.4)
	.action-bar-outside
		position absolute
		top 0px
		right 250px
		z-index 10
	.action-bar
		width 250px
		position absolute
		height 100%
		top 0px
		right 0px
		background white
		box-shadow 0 2px 4px rgba(0, 0, 0, 0.2)
		overflow scroll
		z-index 10
		i
			cursor pointer
		input[type=number], select
			border 1px solid #ddd
		select
			cursor pointer
			margin 4px 0
		.row
			padding 10px 10px 16px
			border-bottom 1px solid #f2f2f2
			p
				font-size 13px
				font-weight 600
		.image-shapes
			text-align right
			i
				font-size 24px
				position relative
				top 5px
				&.active
					color primary
		.padding-right
			padding-right 10px
		.swatch
			width 31px
			height 31px
			margin 2px
			cursor pointer
			border-radius 3px
			border 1px solid #ddd
		.gray-bg
			background #f2f2f2
		.title i
			position absolute
			right 10px
			top 17px
		.align-objects
			text-align center
			i
				font-size 24px
				margin 0 5px
		.align-text
			text-align center
			padding 10px 0
			i
				font-size 24px
				padding 7px 15px
				margin 0 -0.5px
				border 1px solid #ddd
				opacity .4
				transition-duration .3s
				&.active
					opacity 1
		.color-picker
			position absolute
	.product
		padding 80px
		overflow scroll
		position absolute
		top 0px
		left 0px
		width 100%
		height 100%
		.page
			display block
			margin 0 auto 30px
			box-shadow 0px 0px 3px 1px rgba(0,0,0,0.1)
			position relative
	#editor
		.page
			overflow hidden
		.selected
			outline 1px dashed rgba(0,0,0,1) !important
		.resizer
			position absolute
			display none
			cursor pointer
			font-size 20px
			outline none !important
