.inactive-page
  position fixed
  width 100%
  height 100%
  top 0px
  left 0px
  background primary2
  p
    font-size 24px
    text-align center
    line-height 1.4em
    position relative
    top 43vh
    color white
