#landing-page
  background url('../images/bg.jpg') no-repeat center
  background-size cover
  height 100vh
  .row
    padding 15px 30px
  article
    text-align center
    max-width 900px
    margin 24vh auto 0
    h2
      padding-bottom 30px
      color white
    h4
      line-height 1.5em
      color white
    button
      margin-top 30px
      color white
