.box-wrapper
	position fixed
	width 100%
	height 100%
	top 0px
	left 0px

	.box
		padding 30px
		background white
		margin 0 auto
		max-width 400px
		border-radius 4px
		border1px solid #D9D9D9
		vertical-align()

		input
			margin-bottom 15px
