#settings
  background white
  min-height 740px
  .staff
    .pure-g
      .pure-u-1-2
        padding 0 30px 0 80px
        &:first-of-type
          border-right 1px solid silver
          i
            padding-left 8px
        &:last-of-type
          h5
            margin-bottom 40px
          p, input, button
            max-width 320px
          input
            margin 23px 0
            width 320px
            color #194c73
            font-family Lato
            font-size 15px
            font-weight 400
            line-height 16px
        .member
          border-bottom 1px solid silver
          &:last-of-type
            border none
        .add-staff
          button
            min-width 80px
            color #194c73
            font-family Lato
            font-size 13px
            font-weight 700
            letter-spacing 0.27px
            line-height 13px
      .pure-u-1
        position relative
        padding 20px 0 20px 30px
        &:hover
          .delete
            display block
        p, text
          margin-bottom 2px
          font-family Lato
          font-size 15px
          font-weight 400
          line-height 20px
        .margin-bottom
          margin-bottom 10px
        .checkmark
          margin-left 8px
        .sm
          margin 0
        .delete
          position absolute
          right 30px
          top 63px
          display none
          cursor pointer

  .info
    text-align center
    h5
      margin-bottom 15px
    p
      margin 0 auto 50px
      max-width 200px
    .home-content
      margin 0 auto 60px
      width 600px
      .home-logo
        width 200px
        height 200px
      .inputs
        text-align left
        input
          width 100%
          margin 4px 0 18px
    button
      display block
      margin 0 auto

  .account
    text-align center
    h5
      margin-bottom 15px
    p
      margin-bottom 50px
    .inputs
      text-align left
      width 300px
      margin 0 auto 60px
      input
        width 100%
        margin 4px 0 18px
