.guide
  .pure-g
    padding 60px

.color-swatch
  display inline-block
  width 160px
  margin 15px
  .color-box
    width 100%
    height 100px
  &.navy
    .color-box
      background navy
    p
      color navy
  &.light-gray
    .color-box
      background light-gray
    p
      color light-gray
  &.dark-gray
    .color-box
      background dark-gray
    p
      color dark-gray
  &.gold
    .color-box
      background gold
    p
      color gold
  p
    text-align center
