#contact
  .box
    max-width 770px
    margin 30px auto
    padding 60px 103px
    h3
      margin-bottom 20px
    p
      max-width 427px
      margin 0 auto 18px auto
      font-size 18px
      font-weight 400
      letter-spacing 0.38px
      line-height 24px
      color primary2
      &:first-of-type
        margin-bottom 58px
    img
      margin-bottom 20px
#faq
  background white
  padding 20px 110px
  .pure-u-1-2
    padding 10px 40px
    &:first-of-type
      border-right 2px solid gray
    h5
      margin-bottom 10px
    p
      margin-bottom 30px
#instructions
  background white
  padding 30px 110px
  text-align center
  .videos
    margin-bottom 60px
    .video
      display inline-block
      p
        text-align left
        margin 0 0 8px 10px
      div
        border 2px solid gray
        height 140px
        width 200px
        margin 0 10px
        &:hover
          cursor pointer
  .instructions
    text-align left
    max-width 600px
    margin 0 auto
    h5
      margin-bottom 40px
    p
      margin-bottom 40px
      &.step-number
        margin-bottom 10px
