.box
  background-color white
  border 1.5px solid #e4e5e5
  border-radius 5px
  padding 20px
  box-shadow 0px 0px 6px 0px rgba(0,0,0,0.10)
  &.wide
    max-width 1300px
    margin 0 auto
  input[type=text], .dropdown, .dropdown-menu
    width 100%
    margin 0
  .box-header
    padding 20px
    .tabs li
      font-size 18px
      text-transform none
      padding 18px 20px 20px
      margin 0 0 -1px
  &.no-padding
    padding 0
  &.margin
    margin 40px 0 80px 0
  &.border-top
    border-top 5px solid primary2
  &.center
    text-align center
	&.product-list
    padding 0
    .drawer
      .preview
        padding 15px
        border-bottom 2px solid #e4e5e5
        position relative
        cursor pointer
        i
          position absolute
          top 40%
          right 15px
          color rgba(117, 128, 150, 0.4)
      .product-list
        background-color #ebebeb
        max-height 435px
        overflow scroll
        li
          position relative
          i
            position absolute
            top 40%
            right 15px
            color rgba(117, 128, 150, 0.4)
    .header
      padding 14px
      font-family 'Lato'
      border-bottom 1px solid #e4e5e5
      color #758096
      font-size 18px
      font-weight 600
      letter-spacing 0.5px
    li
      padding 15px
      border-bottom 1px solid #e4e5e5
      cursor pointer
      &.active
        background-color #e1e2e2
      p
        color #758096
        font-size 18px
        font-weight 500
        letter-spacing 0.5px
        font-family 'Lato'
	.message
		text-align center
		padding 40px
		opacity 0.4
