
.card
	background-color #e1e2e2
	height 270px
	margin 8px
	position relative
	.preview
		width 100%
		height 220px
		background-size cover !important
		background-position center !important
	.check-box
		position absolute
		top 10px
		right 10px
	p
		padding 10px 20px

.cards
	li
		transition-duration .2s
	.faded
		opacity 0.7
