header
  box-shadow 0 2px 0 #e4e5e5
  position relative
  z-index 10
  .nav-bar
    width 100%
    background primary2
    color white
    position relative
    padding 0
    height 60px
    .logo
      position absolute
      top 0
      left 0
      img
        height 60px
        opacity .5
    .middle
      position absolute
      width 100%
      text-align center
      &>li
        display inline-block
        padding 21px 20px
        &.active
          color primary
				p
					color white
					cursor pointer
    .right
      float right
      .dropdown
        display inline-block
        margin-right 30px
        display block
        height 60px
        padding 22px 15px 0
        &:hover
          cursor pointer
      .dropdown-menu
        right 0px
        left auto
      .cart
        margin-right 15px
