.table-list
  .title
    padding 18px
    border-bottom 2px solid #e1e2e2
    h3
      font-size 28px
      margin 10px 0 0
  .header
    border-bottom 2px solid #e1e2e2
    padding 18px 0
    background light-gray
    .name
      padding-left 30px
    .actions
      text-align right
    p
      display inline-block
      color #194c73
      font-family Lato
      font-size 13px
      font-weight 700
      letter-spacing 0.27px
      line-height 13px
    .order-by
      display inline-block
      margin-left 4px
    [class^='pure-u']:first-child
      padding 0 18px
    [class^='pure-u']:last-child
      text-align center
  .order
    padding 0
    border-bottom 2px solid #eee
    color #758096
    font-family 'Lato'
    font-size 16px
    font-weight 500
    letter-spacing 0.33px
    line-height 1em
    p
      padding 17px 0
      display inline-block
      color #194c73
      font-family Lato
      font-size 15px
      font-weight 400
      line-height 16px
    input
      margin-right 4px
    [class^='pure-u']:first-child
      padding 0 18px
    [class^='pure-u']:last-child
      text-align center
    .actions
      display inline-block
      text-align right
      a
        padding 17px 10px 0
        display inline-block
      .ellipses
        padding-top 23px
      .action-icon
        padding-top 14px
        display none
        cursor pointer
        margin 0 2px
    &:hover
      background-color #f8f8f8
      .actions
        .ellipses
          display none
        .action-icon
          display inline-block
