.order-header
  position fixed
  width 100%
  height 60px
  background primary2
  color white
  top 0px
  left 0px
  padding 7px 0
  z-index 10
  box-shadow 0 2px 0 #e4e5e5
  .dropdown-menu
    width 250px
    right 0px
    left auto
    top 110%
    padding 0px
  .save
    position relative
    top 8px
    z-index 2
    cursor pointer
    display inline-block
    color white
  h5
    color white
  .left
    float left
  .middle
    width 100%
    position absolute
    top 18px
    left 0px
    text-align center
  .right
    float right
  button
    margin 0 auto
    display block
  .product-list
    li
      padding 15px
      border-bottom 1px solid #e1e2e2
      position relative
      h5
        font-size 16px
      p
        padding 2px 0
      i
          position absolute
          top 40%
          right 15px
          color rgba(117, 128, 150, 0.4)
