.slick-track
  .card
    height 320px
    //width 240px !important
    margin 10px
    position relative
    .preview
      width 100%
      height 200px
      background-size cover !important
      background-position center !important
    p
      padding 10px 20px
    .sub
      margin -10px 0 0
      opacity .5
  button
    color black
