.steps-bar
  width 100%
  height 60px
  background-color #fcfcfd
  box-shadow 0 2px 0 #e4e5e5
  position fixed
  top 60px
  left 0px
  padding 9px 0
  z-index 9
  .middle
    position absolute
    top 5px
    left 0px
    width 100%
    text-align center
    li
      display inline-block
      padding 15px
      cursor pointer
      color #758096
      opacity .6
      &.active
        font-weight 500
        opacity 1
      span
        display inline-block
        size 24px
        background-color #fdfdff
        border 1px solid #e4e5e5
        border-radius 28px
        padding 4px 0
        margin-right 4px
        text-align center
        color #758096
        font-size 14px
        font-weight 700
        letter-spacing 0.54px
  .left
    float left
    position relative
    z-index 1
  .right
    float right
    position relative;
    z-index 1
    &after
      clear both
      content ""
      display table-cell
