<header>
  <div class="nav-bar">
    <a class="logo" href="/dashboard"><img src="http://placehold.it/450x150"></a>
    <ul class="middle">
      <li ng-class="{'active':$root.url == '/dashboard'}"><a href="/dashboard">Orders</a></li><li ng-class="{'active':$root.url == '/cases'}"><a href="/cases">Cases</a></li><li><a href="/support">Support</a></li>
    </ul>
    <div class="right">
      <div class="dropdown" uib-dropdown>
        <span uib-dropdown-toggle ng-disabled="disabled">Username</span>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li>
            <a href="/settings">Account Settings</a>
          </li>
          <li>
            <button class="button clear" ng-click="mvm.logout()">Log Out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
