//Bootstrap Accordian Custom Styles
.panel-group
  margin-bottom 0
div.panel
  background none
  border none
  border-bottom 1px solid gray
  box-shadow none
  margin-bottom 0
  .panel-heading
    background none
    border none
    padding 40px 60px
    &.border-bottom
      border-bottom 1px solid gray
    h5
      display inline-block
    i
      display inline-block
      float right
  .panel-body
    border-top none !important
    padding 20px 60px
    .pure-g
      padding 0 60px
      .pure-u-1-3, .pure-u-1-2
        padding 0 30px
      .pure-u-1-4
        padding 0 15px
      .dropdown-btn
        width 100%
        margin 0
        border 1px solid primary2
        color primary2
      input[type=text], textarea, .dropdown, .add-child
        margin 6px 0 23px 0
