/***********************\
    Buttons
\***********************/
.button
  padding 15px
  background-color primary
  color primary2
  border none
  border-radius 3px
  transition-duration .2s
  text-transform uppercase
  min-width 150px
  font-size 15px
  position relative
  font-weight 600
  letter-spacing 0.94px
  font-family 'Lato'
  margin 0 0 0 3px
  &:hover
    opacity .8
  &:active
    opacity .9
  &:focus
    color white
  &.center
    margin 15px auto
    display block
  &.sm
    padding 5px 8px !important
    margin 3px
  &.clear
    background none
    color black
    font-weight 600
  &.inline-icon
    min-width auto
    padding 15px 30px
  &.pill
    border-radius 30px
  &.full
    width 100%
    margin 0
  &.padding
    max-width auto
    padding 15px
  &.dropdown-btn
    text-align left
  &.delete
    background-color salmon
    min-width 0
    width 18px
    height 18px
    border-radius 50%
    padding 0
    margin 0
    font-weight 200
    font-size 10px
    letter-spacing 0
  &.outline
    background none
    color primary
    border 2px solid primary
    padding 13px 15px
    &.blue
      border 2px solid primary2
      color primary2
  &.back
    min-width auto
    padding-left 40px
    color primary2
    i
      position absolute
      left 15px
      top 15px
  &.next
    min-width auto
    padding-right 40px
    color primary2
    i
      position absolute
      right 15px
      top 15px
  &.cart
    div
      display inline
      width 20px
      height 20px
      color white
      background primary
      border-radius 50px
  &.add-child
    display block
    width 100%
    background-color primary2
    color white
    margin 10px 0
  &.right
    float right
  &.white
    color white
  &.blue
    color white !important
    background-color primary2

.cart
  display inline-block
  border 2px solid gray
  padding 8px 10px
  &:hover
    cursor pointer
  div
    display inline-block
    width 20px
    height 20px
    background primary2
    color white
    border-radius 50px
    text-align center

.exit
  font-size 18px
  border-radius 30px
  width 30px
  height 30px
  background gray
  color white
  &.white
    background white
    color gray
  &.sm
    width 18px
    height 18px
    font-size 12px
