/***********************\
    Forms
\***********************/
input[type=text], input[type=password], input[type=date], input[type=email], input[type=number], select
  display block
  margin 6px 0 20px 0
  border none
  padding 12px 10px
  border-radius 3px
  &::-webkit-input-placeholder
    line-height 1.2em
  &.outline
    border 1px solid navy
    &::-webkit-input-placeholder
      line-height 1.2em
      color #194c73
      opacity .4
      font-family Lato
      font-size 15px
      font-weight 400
      line-height 16px
	&.small
		padding 7px 9px !important

select
	width 100%
	height 31px

input[type=number]
	max-width 100%
	margin 2px

input[type=date]
  padding 8px 10px
  width 100%
  &:after
    font-family 'icomoon'
    content "\e953"

textarea
	margin 0

.textarea
  resize none
  padding 12px 40px
  font-size 20px
  font-weight 500
  line-height 22px
  color primary2
  &.wide
    width 800px
    margin 10px auto

.dropdown-menu
  max-height 430px
  border-radius 0px
  box-shadow none
  overflow scroll
  li
    padding 8px
    cursor pointer
    &:hover
      background #eee

.radio
  position absolute
  top 12px
  right 12px
  cursor pointer

.check-box
  padding 0
  background none
  background-color #d1d3d4
  border none
  width 18px
  height 18px
  border-radius 3px
  min-width 18px
  // position absolute
  // top 12px
  // right 12px
  &:focus, &:active:focus, &.focus, &:hover
    outline none
    outline-offset none
    background-color #d1d3d4
    color #939598
  &.checked
    color #939598

.form-box
  margin 25vh auto
  width 500px
  padding 100px
  background white
  p
    text-align center
    padding 15px 0
  img
    margin 0 auto 15px
    display block
    max-width 100%
  input
    width 100%
    border 1px solid gray
  .alt-text
    text-align center
    padding 20px 0 0
