@font-face {
    font-family: 'iconfont';
    src:    url('../fonts/iconfont.eot?i7lcnw');
    src:    url('../fonts/iconfont.eot?i7lcnw#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2?i7lcnw') format('woff2'),
        url('../fonts/iconfont.ttf?i7lcnw') format('truetype'),
        url('../fonts/iconfont.woff?i7lcnw') format('woff'),
        url('../fonts/iconfont.svg?i7lcnw#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-BottomAlign-object:before {
    content: "\e900";
}
.icon-Calendar:before {
    content: "\e901";
}
.icon-Camera:before {
    content: "\e902";
}
.icon-Case:before {
    content: "\e903";
}
.icon-Center-text:before {
    content: "\e904";
}
.icon-CenterHorizontal-object:before {
    content: "\e905";
}
.icon-CenterVertical-object:before {
    content: "\e906";
}
.icon-Checkmark:before {
    content: "\e907";
}
.icon-Chevron:before {
    content: "\e908";
}
.icon-Color:before {
    content: "\e909";
}
.icon-Crop:before {
    content: "\e90a";
}
.icon-Delete:before {
    content: "\e90b";
}
.icon-Image:before {
    content: "\e90c";
}
.icon-Justify-text:before {
    content: "\e90d";
}
.icon-LeftAlign-object:before {
    content: "\e90e";
}
.icon-LeftAlign-text:before {
    content: "\e90f";
}
.icon-Oval:before {
    content: "\e910";
}
.icon-Phone:before {
    content: "\e911";
}
.icon-Play:before {
    content: "\e912";
}
.icon-RightAlign-object:before {
    content: "\e913";
}
.icon-RightAlign-text:before {
    content: "\e914";
}
.icon-Square:before {
    content: "\e915";
}
.icon-Time:before {
    content: "\e916";
}
.icon-TopAligh-object:before {
    content: "\e917";
}
.icon-archive:before {
    content: "\e918";
}
.icon-delete:before {
    content: "\e919";
}
.icon-edit:before {
    content: "\e91a";
}
.icon-lock:before {
    content: "\e91b";
}
.icon-mail:before {
    content: "\e91c";
}
.icon-photo:before {
    content: "\e91d";
}
