body
  background-color #f2f2f3

// .card
//   background white
//   border-radius 8px
//   margin-top 40px
//   box-shadow 0px 0px 6px 0px rgba(0,0,0,0.10)

.container
  max-width 1100px
  margin 0 auto
  padding 0
  &.wide
    max-width 1200px

.page-padding
  padding 80px 0

.padding
  padding 30px 15px 0

.padding-left
  padding-left 30px

.tabs
  text-align center
  width 100%
  border-bottom 1px solid gray
  margin-bottom 30px
  &.left
    text-align left
    float left
    width auto
    background white
  &.no-float
    float none
    padding-left 30px
    li
      padding 20px 30px
  &.no-margin
    margin 0
  li
    display inline-block
    padding 10px 30px
    text-transform uppercase
    cursor pointer
    font-weight 600
    &.active
      border-bottom 5px solid primary

.inline
	display inline-block

.row
  margin 0
  width 100%
  h3
    display inline-block
    vertical-align middle
  button
    display inline-block
  .order-by
    display inline-block
    margin-left 16px
    vertical-align middle
  &:after
    content ""
    clear both
    display table
  &.header
    padding 15px 0
    margin 0 0 18px
  &.underline
    border-bottom 2px solid #e1e2e2
  .left
    float left
  .right
    float right
	&.center
		text-align center
