/***********************\
    Modals
\***********************/

//Archive modal styling
.modal-dialog
  margin-top 160px
.modal-content
  box-shadow none
  .modal-body
    padding 60px 0 96px 0
    text-align center
    img
      &:not(:first-of-type)
        margin-bottom 26px
    h3
      margin-bottom 15px
    p
      font-size 17px
      max-width 460px
      margin 0 auto
    .modal-close
      position absolute
      top -36px
      right 0
      &:hover
        cursor pointer
  .modal-footer
    text-align center
    padding 23px 0
    border-top 2px solid modal-gray
    button
      width 200px
      margin 0 12px

//overwrite bootstrap modal backdrop
.modal-backdrop
  background-color #194c73
  &.in
    opacity 0.85
