/***********************\
    Typography
\***********************/
*
  font-family: 'Lato', sans-serif;

p, h1, h2, h3, h4, h5, label, text
  color primary2
  font-family 'Lato'
  font-weight 600
  &.gray
    color gray
  &.dark-gray
    color dark-gray
  &.green
    color green

h1
  font-size 56px

h2
  font-size 46px

h3
  font-size 36px

h4
  font-size 28px

h5
  font-size 22px

p
  font-size 16px
  color nav
  font-weight 400
  line-height 28px
  &.small
    font-size 12px
    font-weight 400
  &.sub
    font-size 12px
    padding 7px 0
  &.faded
    opacity .5
  &.error
    color red
    font-size 14px

label
  text-transform uppercase
  font-size 12px
